<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--映射文件与接口的对应关系-->
<!--<mapper namespace="com.zlt.mapper.UserMapper">-->
<mapper namespace="com.mapper.CourseMapper">
    <!--
    id:接口中的方法名
    parametertype:参数类型
    resulttype:返回值类型
    -->
    <select id="findAll" resultType="com.pojo.Course">
          select * from course
    </select>

    <!--<select id="findByName" resultType="com.zlt.pojo.User">-->
        <!--select * from user where username=#{username}-->
    <!--</select>-->

    <!--<select id="findById" resultType="com.zlt.pojo.User" parameterType="java.lang.Integer">-->
        <!--select * from user where id=#{id}-->
    <!--</select>-->

    <!--<insert id="insert" parameterType="com.zlt.pojo.User">-->
        <!--insert into user(username,password) values (#{username},#{password})-->
    <!--</insert>-->

    <!--<delete id="deleteById" parameterType="java.lang.Integer">-->
    <!--delete from user where id=#{id}-->
    <!--</delete>-->

    <!--<update id="update" parameterType="com.zlt.domain.User">-->
    <!--update user set username=#{username} where id=#{id}-->
    <!--</update>-->
</mapper>